@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

/* Common options */
:root {
    --bg1: #02304b;
    --bg2: #063c5c;
    --body: #959DCC;
    --brand: #a5f70db2;
    --white: #fff;
}

body {
    font-family: "inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 35px;
}

h6 {
    font-family: "dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a5f70db2;
    font-size: 25px;
    
}

a {
    color: var(--body);
    text-decoration: none;
    transition: all 0.7s ease;
}

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    left: 1px;
}

.link-more .icon {
    transition: all 0.4s ease;
}

.link-more:hover .icon {
    transform: translateX(8px);
}


a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px
}

.btn {
    padding: 16px 36px;
    font-family: "Noto Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4 ease;
    border-radius: 0;
}

/* Common options Responsibility*/

@media (max-width: 768px) {

h1,
h2,
h3,
h4,
h5 {

    font-size: 20px;
}

h6 {

    font-size: 15px;   
}

p {
 font-size: 13px;   
}

.link-more {

    font-size: 13px;

}

.link-more .icon {
    transition: all 0.4s ease;
}

.link-more:hover .icon {
    transform: translateX(8px);
}


a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px
}

.btn {
    padding: 16px 36px;
    font-family: "Noto Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4 ease;
    border-radius: 0;
}

}


/*INTRO */
.intro {
    margin-bottom: 60px;
}

.intro h6 {
    columns: var(--brand);
}

.intro p {
    max-width: 500px;
    margin: auto;
}

.cta-btns {
    margin-top: 60px;
}

.intro h1 {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(to right, #02304b, rgba(27, 31, 52, 0.0));
}

.navbar .navbar-nav .nav-link.custom-active {
    color: var(--brand) !important;
}

.navbar-brand {
    font-family: "Noto Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;

}

/*Button Appointment */

#sticky-button {
    top: 90px;
    /* височина на навигационния бар */
}

/*Button Appointment */

/* Banner */
.banner-img {
    background-blend-mode: multiply;
    width: 100px;
    height: auto;
}

/* HERO */
#hero {
    background: linear-gradient(to right, #02304b, rgba(27, 31, 52, 0.0)), url(../img/cover_1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* Медия запитвания за по-малки екрани */
@media (max-width: 768px) {
    #hero {
        background-size: contain;
        /* Променете размера на фоновата картинка на 'contain' за по-малки екрани */
        background-size: cover;
        /* Промяна на размера на фоновата картинка на 'cover' за малки екрани */
    }
}

#hero p {
    margin-top: 24px;
    margin-bottom: 24px;
}

/* HERO */



/*Apoinment btn */


.btn-brand {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
}

.btn-brand:hover {
    background-color: var(--brand);
    font-weight: 600;
    font-size: 20px;
}

.btn-outline-brand {
    background-color: var(--brand);
    border-radius: 20px;
    font-weight: 600;
    font-size: 16.5px;
}

.btn-outline-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

/*ABOUT*/

#about {
    position: relative;
}

#about::after {
    content: "";
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#about h6 {
    color: var(--brand);
}

#about h1 {
    margin-top: 16px;
    margin-bottom: 24px
}

#about .signature {
    width: unset;
}

/*SERVICE */

#services {
    background: var(--bg2);
}

#services .service .content {
    padding: 32px;
}

#services .service p {
    margin-top: 18px;
    margin-bottom: 18px;
}

/*MILESTONE*/

#milestone {
    background: linear-gradient(to right, rgba(2, 48, 75, 1.2), rgba(27, 31, 52, 0.0)), linear-gradient(to left, rgba(2, 48, 75, 1.2), rgba(27, 31, 52, 0.0)), url(../img/cover_2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 325px;
}

#milestone h1 {
    color: var(--brand);
}

/* FEATURES */
#features-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--bg1);
}

.features-section-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.features-section-text h1,
.features-section-text h6 {
    margin-top: 1%;
    margin-bottom: 1%;
}
#feature-section-text-para{
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 2%;
}

.feature-row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}


.feature-container {
    display: flex;
    flex-direction: row;
    width: 18%;
    margin-left: 2%;
}

.feature-container .icon-feature {
    width: 100%; /* Настройва ширината на изображението да бъде 100% от размера на родителския елемент */
    height: auto; /* Автоматична височина, за да запази пропорциите на изображението */
    max-height: 60px;
    max-width: 60px;
}

.feature-img{
    width: 23%;
}

#features-section .feature-text{
    margin-top: 8%;

}

.feature-link-more {
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    left: 1px;
}

.feature-link-more .icon {
    transition: all 0.4s ease;
}

.feature-link-more:hover .icon {
    transform: translateX(8px);
}

.feature-text h5 {
    font-size: 17px;
}

@media (max-width: 768px) {

    #feature-section-text-para{
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 2%;
    }
    
    .feature-text h5 {
        font-size: 11px;
    }

    .feature-img{
        width: 30%;
            }


            .feature-container {
                width: 100%; /* Задава ширината на всеки елемент да бъде 100% от колоната */
                margin-left: 0; /* Премахва лявото отместване */
            }
            
            .feature-link-more {
                font-size: 10px;
                font-weight: 600;
            }

            .feature-row-container{
                display: grid;
                grid-template-columns: 1fr 1fr; /* Две колони с равна ширина */
                gap: 16px; /* Отстояние между елементите */
                margin-left: 6%;
                margin-right: 6%;
            }

            #response-container{
                display: flex;
                flex-direction: column;
            }

}


/*SOCIAL ICONS */

.social-links a {
    width: 42px;
    height: 42px;
    background-color: var(--bg1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover {
    background-color: var(--brand);
    color: var(--bg2);
}

/* TEAM */

#team {
    background-color: var(--bg2);
}

.team-member {
    position: relative;
}

.team-member .social-links {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 0.5s ease;
    opacity: 0;
}

.team-member:hover .social-links {
    opacity: 1;
    top: 30px;
}













/* BLOG */
#blog {
    background-color: var(--bg2);
}

.blog-post {
    position: relative;
}

.blog-post .date {
    width: 100px;
    height: 100px;
    background-color: var(--brand);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 30px;
}

.blog-post .day {
    font-size: 32px;
    line-height: 1;
    color: var(--bg1);
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog-post .year {
    color: var(--bg1);
}


/* BOOKING */
#booking{
    background: linear-gradient(to right, rgba(2, 48, 75, 0.8), rgba(27, 31, 52, 0.0)), linear-gradient(to left, rgba(2, 48, 75, 0.8), rgba(27, 31, 52, 0.0)), url(../img/cover_2.jpg);
    background-size: cover;
    background-position: center;
}

#booking form{
    background-color: var(--bg1);
    padding: 32px;
}

#booking form .form-control{
    background-color: var(--bg1);
    border-radius: 0;
    margin-top: 16px;
    border-color: var(--bg2);
}

#booking form input{
    height: 58px;
}

#booking form input:focus{
    height: 58px;
}


/* DISPLAY RESPONSE STYLES */

/*BUTONS*/
@media (max-width: 1470px) {
    .btn {
        font-size: 14px;
        /* Намалете размера на шрифта */
        width: auto;
        /* Задайте ширината на бутона да бъде автоматично определена от съдържанието му */
        padding: 8px 16px;
        /* Променете padding за подходящ размер на бутона */
        border-radius: 20px;
        /* Задайте подходящ border-radius */
        font-weight: 600;
        /* Задайте подходящо font-weight */
    }
}

@media(max-width:1470px) {
    .btn-outline-brand {
        font-size: 12px !important;
        white-space: nowrap !important;
        /* Позволява текстът на линковете да се събира на един ред */
        width: auto;
        /* Задайте ширината на бутона да бъде автоматично определена от съдържанието му */
        margin-left: 0;
    }
}


/* MAPS */
.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


/* FOOTER */

@media (min-width: 769px) {
    .footer {
        display: flex;
        flex-direction: row;
        background-color: var(--bg2);
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #footer-logo img {
        height: 110px;
    }
    #social-icons img {
        width: 50px;
        height: 50px;
    }
    #social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-container p {
        margin: 0;
    }
    .footer-container h2 {}
}
@media (max-width: 999px) and (min-width:700px) {
    .footer {
        display: flex;
        flex-direction: row;
        background-color: var(--bg2);
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #footer-logo img {
        height: 85px;
    }
    #social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #social-icons img {
        width: 50px;
        height: 50px;
    }
    .footer-container p {
        margin: 0;
        text-size-adjust: none;
        /* Забранява мащабирането на текста във въртящи се устройства и ще запази оригиналния размер на шрифта.*/
        font-size: 70%;
    }
    .footer-container h2 {
        text-size-adjust: none;
        /* Забранява мащабирането на текста във въртящи се устройства и ще запази оригиналния размер на шрифта.*/
        font-size: 150%;
    }
}


@media (max-width: 768px){
    .footer {
        display: flex;
        flex-direction: row;
        background-color: var(--bg2);
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footer-logo img {
        height: 50px;
    }

    #social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #social-icons img {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .footer-container p {
        margin: 0;
        text-size-adjust: none;
        /* Забранява мащабирането на текста във въртящи се устройства и ще запази оригиналния размер на шрифта.*/
        font-size: 50%;
    }

    .footer-container h2 {
        text-size-adjust: none;
        /* Забранява мащабирането на текста във въртящи се устройства и ще запази оригиналния размер на шрифта.*/
        font-size: 60%;
    }
}


/* REVIEWS */

.review {
    flex: 0 0 calc(20% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.9;
    background-color: var(--bg1);
    display: flex;
    flex-direction: column; /* За да се подредят елементите вертикално */
    align-items: flex-start; /* За подравняване на елементите в ляво */
}

.review .profile-image {
    width: 80px; /* Увеличаване на размера на профилните изображения */
    height: 80px; /* Добавяне на фиксирана височина */
    border-radius: 100px;
    margin-right: 10px; /* Разстояние между аватара и името */
}

.review .text {
    display: block; /* Показва текста по подразбиране */
}

.expand-button {
    display: none; /* По подразбиране бутонът е скрит */
    background-color: var(--brand);
    color: var(--bg1);
    border: none;
    padding: 4px 8px; /* Намаляване на размера на бутона */
    font-size: 12px; /* Намаляване на размера на шрифта */
    cursor: pointer;
    margin-top: 8px;
}

#response-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: 300px; /* Добавено максимална височина */
    overflow: auto; /* Преливане на излишното съдържание */
}

.author-container {
    display: flex;
    align-items: center; /* Подравнява елементите в центъра по вертикала */
}

.author-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.rating {
    font-size: 0;
}

.rating::after {
    content: "★★★★★";
    font-size: 16px;
    color: #FFD700;
}

@media (max-width: 768px) {
    .review {
        display: none; /* Скрива всички ревюта по подразбиране */
        width: 100%; /* Ширина 100% за ревюта на малки екрани */
    }

    .review.active {
        display: flex; /* Показва само активното ревю */
        height: 100% !important;
    }

    .carousel-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: -webkit-sticky; /* Поддръжка за Safari */
        position: sticky;
        top: 0; /* Залепва в горната част на контейнера */

        padding: 10px 0; /* Допълнителен падинг за бутоните */
        z-index: 1; /* Уверете се, че бутоните са над съдържанието */
    }

    .carousel-button {
        background-color: var(--brand);
        color: var(--bg1);
        border: none;
        padding: 4px 8px;
        font-size: 12px;
        cursor: pointer;
    }
}